{% extends 'Navbar/projectnavbar.html' %}
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>RegisterPage</title>
</head>
<body>
{% block body %}
{% if messages %}
{% for message in messages %}
{% if message.tags %}
<script>alert ("{{message}}")</script>
{% endif %}
{% endfor %}
{% endif %}
<div class="container1" align="center" style="display: flex; justify-content: center; height: 100vh; align-items: center;  background-image: url('{% static "images/1234.jpg" %}'); background-size: cover;">
    <div class = 'bodycontainer' style="display: inline-block; border: 1px solid #ccc; padding: 20px; border-radius: 5px; background-color: lavender; width: 30%; text-align: center;background-color: #FFE7D9;">
        <h1>RegisterPage</h1><br>
        <form method="post" action="{% url 'signup1'%}" style="display: inline-block; text-align:left;background-color: #FFE7D9;">
            {% csrf_token %}
            <label>Username  :</label>
            <input type="text" name="username" placeholder="Student ID/Employer ID"><br><br>
            <label>Password  :</label>
            <input type="password" name="password" placeholder="Enter your password"><br><br>
            <label>Confirm Password :</label>
            <input type="password" name="password1" placeholder="Re-enter the password"><br><br>
            <button type="submit" name="SUBMIT" style="display: block; margin: 0 auto;">Register</button>
        </form>
    </div>
</div>
{% endblock %}
</body>
</html>